body {
	font-size: 100%;
	font-family: YaHei,YouYuan,Serif;
	background-color: #78664a;
}

#titile{
	margin-bottom: 10px;
}
h1{
	font-size: 1.5em;
	margin: 10px;
	-webkit-text-stroke: 1px black;
	color: white;
}

#content {
	  margin-top: 20px;
	
		padding: 10px,0,10,0;
}

#content p {
	  
}

#footer {
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer p {
	background-color: #524420;
	color: #FFF;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: center;
	text-align: center;
	clear: both;
}

#time:hover {
	background-color: #30431f;
}

ul{
	margin:0px;  
}
ul li{
	list-style-type: none;
	list-style-image: url(icons/icon16x16.png);  
}
ul li:hover{
	  background: #FFF;
}

